name: test-report

on:
  workflow_run:
    workflows: ['test']
    types: ['completed']

jobs:
  report:
    runs-on: ubuntu-latest

    steps:
      - uses: dorny/test-reporter@v1
        with:
          artifact: test-reports
          name: Bats tests
          path: '*.xml'
          reporter: java-junit
          working-directory: /home/runner/work/libguestfs/test
